In [1]:
import pandas as pd
import pyautogui
import pyperclip
import time
import numpy

In [4]:
df = pd.read_excel('plano de amortização.xlsx', sheet_name = 4)
df2 = pd.read_excel('plano de amortização.xlsx', sheet_name = 5)

In [3]:
#PREENCHENDO OS ÓRGÃOS
time.sleep(3)

for v in range(4):
    pyautogui.press('tab')

pyautogui.press('space')

for b in range(4):
    pyautogui.hotkey('shift', 'tab')

for i, dados in enumerate(df["CNPJ"]):
    cnpj = df.loc[i, "CNPJ"]
    nome = df.loc[i, "NOME"]
    competencia = df.loc[i, "COMPETENCIA"]
    poder = df.loc[i, "PODER"]
    tipo = df.loc[i, "TIPO"]

    pyperclip.copy(str(cnpj))
    pyautogui.hotkey('ctrl','v')
    pyautogui.press('Tab')

    pyperclip.copy(str(nome))
    pyautogui.hotkey('ctrl','v')
    pyautogui.press('Tab')

    pyperclip.copy(str(competencia))
    pyautogui.hotkey('ctrl','v')
    pyautogui.press('Tab')

    pyautogui.hotkey('alt', 'down')
    for n in range(poder):
        pyautogui.press('down')

    pyautogui.press('Tab')
      
    for t in range(tipo-1):
        pyautogui.press('down')
    
    pyautogui.press('Tab')
    pyautogui.press('enter')
        
        

    #pyautogui.PAUSE = 1
    
    pyautogui.hotkey('shift','tab')
    for t in range(tipo-1):
        pyautogui.press('left')
    pyautogui.hotkey('shift','tab')
    pyautogui.hotkey('shift','tab')
    pyautogui.hotkey('shift','tab')
    pyautogui.hotkey('shift','tab')

In [ ]:
#ESTATISTICA DA POPULAÇÃO COBERTA
pyautogui.press('tab')
n = 1
for i in range(cod_orgao.index):
    for t in range[i]
        pyautogui.press('down')
        
    pyautogui.press('tab')

In [9]:
df2 = df2.dropna()
df2

,código órgão,órgão,Número Critério,Critério,Tipo,Carreira,Numero Carreira,SEXO,Qtd,Salário médio,IM,IM Aap,IM Ad
6,1,Instituto De Previdencia Social Dos Servidores...,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,M,10.0,409151.000000,3610.000000,6000.000000,2680.000000
7,1,Instituto De Previdencia Social Dos Servidores...,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,F,12.0,346347.083333,3941.666667,5533.333333,3083.333333
16,4,Assembleia,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,M,10.0,409151.000000,3610.000000,6000.000000,2680.000000
17,4,Assembleia,1,Sem critério diferenciado para a aposentadoria,Ativos,OUTROS,4,F,12.0,346347.083333,3941.666667,5533.333333,3083.333333

In [18]:
cod_orgao = df2.loc[:, 'código órgão']
display(cod_orgao)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    4
11    4
12    4
13    4
14    4
15    4
16    4
17    4
18    4
19    4
Name: código órgão, dtype: int64